<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= assigns[:page_title] || "PhoenixForum · Phoenix Framework" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <%= csrf_meta_tag() %>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">PhoenixForum</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link "Posts", to: Routes.topic_path(@conn, :index), class: "nav-link" %>
            </li>
             <%= if @conn.assigns[:user] do %>
              <li class="nav-item">
                <%= link "Account", to: Routes.user_path(@conn, :show, @conn.assigns.user.id), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Create Post", to: Routes.topic_path(@conn, :new), class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link "Sign out", to: Routes.auth_path(@conn, :signout), class: "nav-link" %>
              </li>
            <% end %>
          </ul>
        </div>
    </nav>
      <div class="toast container mt-2">
        <div class="toast-body">
          <p class="flash h3"><%= get_flash(@conn, :info) %></p>
          <p class="flash h3"><%= get_flash(@conn, :error) %></p>
      </div>
    </div>
    <div class="container mt-5">   
      <%= render @view_module, @view_template, assigns %>
    </div>
    <script src="https://kit.fontawesome.com/606d3533c3.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
