<h1>Account</h1>

<label>Email: </label> 
<%= @user.email%>

<label class="d-block">My Topics: </label>
<ul class="list-group"> 
  <%= for t <- @user.topics do %>
    <li class="list-group-item">
      <%= link t.title, to: Routes.topic_path(@conn, :show, t.id) %>
    </li>    
  <% end %>
</ul>