<%= form_for @changeset, Routes.topic_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= text_input f, :title, placeholder: "Title", class: "form-control mb-2" %>
    <%= error_tag f, :title %>

     <%= textarea f, :content, placeholder: "Content", class: "form-control topic", rows: 10, cols: 30 %>
    <%= error_tag f, :content %>
  </div>

  <%= submit "Save Topic", class: "btn btn-primary" %>
<% end %>
